body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 64px;
  padding: 0;
  text-align: center;
  width: 64px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.game-info {
  margin-left: 20px;
}

h1 {
  text-align: center;
}
p.author {
  margin-top:-25px;
  text-align: center;
}
#root {
  background: black;
}
.infobar {
  background: pink;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.infobar button {
  width:70px;
  height:70px;
  padding:0px;
  margin:5px;
}
.board-row button {
  width:70px;
  height:70px;
  padding:0px;
  border:0;
  margin: 5px;
}
.square img {
  border:1px pink solid;
  display: inline-block;
  width: 68px;
  height:68px;
}
.mix {
  font: 3em bold;
  color:white;
}