body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #c5c5c5;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 64px;
  padding: 0;
  text-align: center;
  width: 64px;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1 {
  text-align: center;
}
p.author {
  margin-top:-25px;
  text-align: center;
}
#root {
  background: #4056d6;
}
.infobar {
  background: rgb(161, 107, 5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.infobar button {
  width:70px;
  height:70px;
  padding:0px;
  margin:5px;
}
.board-row button {
  width:70px;
  height:70px;
  padding:0px;
  border:0;
  margin: 5px;
}
.square img {
  border:2px #000000 solid;
  display: inline-block;
  width: 66px;
  height:66px;
}
.mix {
  font: 3em bold;
  color:#ffee00;
}